img {
    border-radius: 50%;
    margin: 20px;
    border: 2px solid darkgrey
}
#filtre {
    height: 32px;
    margin: 20px;
}
#tableau {
    width: 100%;
    border: 2px solid darkgrey;
}
#titles {
    border: 3px solid black;
    height: 60px;
    background-color: darkgray;
}
.row {
    text-align: center;
}