#matches {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}
@media screen and (min-width: 601px) {
    .matche  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media screen and (max-width: 600px) {
    .matche  {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
img {
    border-radius: 50%;
    margin: 20px;
    border: 2px solid darkgrey
}